@tailwind base;
@tailwind components;
@tailwind utilities;

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* その他 */
.avatar-wrapper:hover div {
  opacity: 60%;
}

/* HTML5でフルスクリーンに入ると、背景/要素が黒くなる 対策 */
#root {
  background-color: white;
}

#alert-div {
  position: fixed;
  z-index: 9999;
  top: 40px;
  right: -80px;
  transition: all 0.2s;
  opacity: 80%;
}
#alert-checkbox[type='checkbox']:checked ~ #alert-div {
  right: 20px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* GoogleMapのDrawerのポジション */
:root {
  --articles-width: 288px;
  --search-width: 224px;
  --drawer-handle-width: 48px;
  --sidebar-width: 72px;
}

#articles-drawer-div {
  position: fixed;
  left: calc(0px - var(--articles-width) + var(--sidebar-width) + var(--drawer-handle-width));
  z-index: 20;
  transition: all 0.2s;
  width: var(--articles-width);
}
#articles-drawer-checkbox[type='checkbox']:checked ~ #articles-drawer-div {
  left: var(--sidebar-width);
}
#articles-drawer-checkbox[type='checkbox']:checked ~ #search-drawer-div {
  margin-left: calc(var(--articles-width) - var(--drawer-handle-width));
}

#search-drawer-div {
  position: fixed;
  left: calc(0px - var(--search-width) + var(--sidebar-width) + 2 * var(--drawer-handle-width));
  z-index: 10;
  transition: all 0.2s;
  width: var(--search-width);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#search-drawer-div::-webkit-scrollbar {
  display: none;
}
#search-drawer-checkbox[type='checkbox']:checked ~ #search-drawer-div {
  left: calc(var(--sidebar-width) + var(--drawer-handle-width) - 18px);
}

#articles-drawer-div ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#articles-drawer-div ul::-webkit-scrollbar {
  display: none;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* GoogleMapの右アイコンバー */
.hover-and-click-effect {
  @apply transition duration-150 ease-in-out hover:bg-gray-100 focus:bg-none focus:outline-none focus:ring-0 active:bg-gray-200;
}
.flash-anime {
  animation: flash 1s linear infinite;
}
@keyframes flash {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
